@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    <form asp-controller="User" asp-action="Register" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input name="UserEmail" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        <input name="UserName" class="form-control form-control-lg" type="text" placeholder="Nome">
        <input name="UserPhone" class="form-control form-control-lg" type="text" placeholder="Telefone">

        <label for="inputPassword5" class="form-label">Senha</label>
        <input name="UserPassword" type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
            Sua senha deve ter de 8 a 20 caracteres, conter letras e números, e não deve conter espaços, caracteres especiais ou emojis.
        </div>

        <button type="submit">Cadastrar</button>
    </form>
</div>